.divHead {
    background-color: #130b20; 
    color:aliceblue; 
    border: 1px;
}

.divBody {
    border: 1px solid #201b35;
}
DIV {
    
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 3px;
}
.thHead {
    color: aliceblue;
    border-width: 1px; 
    border-color: rgb(255, 255, 255);
    background-color: #171529;
}