<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <img src="assets/img/juancho.png" style="position: relative; border-radius: 20%; margin-right: 10px; left: 5px;; top:3px;" width="70" height="60" routerLink="/" >

        <li class="nav-item "><a href="#" class="nav-link">Mecánica Juancho</a></li>

        <li class="nav-item"><a href="#" routerLink="/tecnicos" routerLinkActive="active" class="nav-link">Técnicos</a></li>
        <li class="nav-item"><a href="#" routerLink="/vehiculos" routerLinkActive="active" class="nav-link">Vehículos</a></li>

      </ul>
    </div>
  </div>
</nav>